# OpenSearch connection
OPENSEARCH_HOST=localhost
OPENSEARCH_PORT=9200
# OPENSEARCH_USER=admin
# OPENSEARCH_PASSWORD=admin
OPENSEARCH_USE_SSL=false
OPENSEARCH_VERIFY_CERTS=false
OPENSEARCH_INDEX=events

# Flask server
HOST=127.0.0.1
PORT=5000
FLASK_DEBUG=false
